
@{
    ViewBag.Title = "Duty Calendar";
}


<h2>@ViewBag.title</h2>

<div id='calendar'></div>
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-body"> 
                    <table>
                        <tr>
                            <td><p>Duty: </p></td>
                            <td><p id="title"></p></td>
                        </tr>
                        <tr>
                            <td><p>Start time: </p></td>
                            <td><p id="starttime"></p></td>
                        </tr>
                        <tr>
                            <td><p>End time: </p></td>
                            <td><p id="endtime"></p></td>
                        </tr>
                    </table> 
                    <input type="hidden" id="dutyId" value="0"/>
                    </div>
                </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="volunteerBtn">Volunteer</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Scripts{
    @Scripts.Render("~/bundles/calendar")
    }
