@{
    ViewBag.Title = "About Us";
}
<div style="padding-top:20px"></div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2>@ViewBag.Title.</h2>
    </div>
    <div class="panel-body">
        <h3>@ViewBag.Message</h3>
        <p>Morbi a ligula vehicula, laoreet risus eu, tempor purus. Aliquam dui nisi, ullamcorper nec tempor ut, rhoncus a justo. Sed mollis neque at lectus efficitur, et volutpat nisl mattis. Donec lacinia urna vel pulvinar molestie. Maecenas vulputate leo massa, eu laoreet ipsum volutpat et. Donec cursus nulla consequat suscipit maximus. In pharetra nulla justo, at vehicula magna porta sed. </p>
    </div>
</div>