@{
    ViewBag.Title = "Contact Us:";
}
<div style="padding-top:20px"></div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="panel-body">
        <h3>@ViewBag.Message</h3>

        <address>
            43 Woodbury Avenue<br />
            Petersfied, GU32 2ED <br />
            <abbr title="Phone">P:</abbr>
            07592517209
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:frederickashcroft3@gmail.com">frederickashcroft3@gmail.com</a><br />
        </address>
    </div>
</div>