@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Duty Roster</h1>
    <p class="lead">Duty Roster is a web based system which allows organisations and clubs to monitor and log what duties there members have been doing.  </p>
    <p><a href="About.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3> A project to provide a replacement roster</h3>
    </div>
    <div class="panel-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum faucibus lorem quis tempor. Sed et scelerisque urna, nec vulputate enim. Donec eu massa at lectus gravida iaculis facilisis quis enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula ut nunc sed fermentum. Ut gravida quam ac metus feugiat varius. Cras venenatis libero convallis enim pulvinar, vel ultricies tellus tristique. Donec interdum felis quis tellus feugiat, et volutpat quam sagittis. Maecenas sodales fringilla placerat. Mauris rhoncus rhoncus tortor at ultrices. Morbi sed erat nec sapien ornare efficitur. Integer sit amet urna congue, pellentesque lectus a, tincidunt nibh. Phasellus eleifend nisi id sem tincidunt, vel imperdiet urna egestas. Aliquam varius tempor lorem id vestibulum. Aenean mollis elit a arcu maximus vestibulum.
            </p>
        <p>
            Sed non sodales diam. Fusce scelerisque imperdiet neque. Duis volutpat sollicitudin maximus. Mauris ac massa ac purus elementum congue quis sit amet lectus. Phasellus vel ullamcorper orci, at sagittis massa. Nunc pulvinar laoreet mi, a ultrices ipsum posuere nec. Fusce at ullamcorper mauris, quis porta sem. Curabitur consequat tortor sodales, viverra leo a, ultricies lorem. Quisque mollis lorem sit amet placerat maximus.
        </p>
    </div>
</div>