@{
    ViewBag.Title = "About Us";
}
<div class="panel">
    <div class="panel-heading">
        <h2>@ViewBag.Title.</h2>
    </div>
    <div class="panel-body">
        <h3>@ViewBag.Message</h3>
        <p>Use this area to provide additional information.</p>
    </div>
</div>