@{
    ViewBag.Title = "Club Administration";
}
<div style="padding-top:20px"></div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h1>Admin Home Page</h1>
        
    </div>
    <div class="panel-body">
        <p> From this page you can manage all duties to do with your club</p>
    </div>
</div>


