
@{
    ViewBag.Title = "Index";
}
<div class="panel">
    <div class="panel-heading">
        <h1>Admin Home Page</h1>
        <p class="From this page you can confirm atendence to duties and add or remove duties"
    </div>
</div>
<h2>Index</h2>

